


#container, #work-form {
    width: clamp(380px, 100%, 430px);
    height: 100vh;
    position: relative;
    overflow: auto !important;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
}
#bg img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(75%) contrast(350%);
}
#add-work {
    height: 50px;
    width: 50px;
}

.absen-group {
    padding: 12px;
    position: relative;
    background-color: rgba(0, 0, 0, .05);
}
.absen-group span:nth-child(2) {
    /* padding: 5px 15px; */
    width: 140px;
    text-align: right;
    border-radius: 10px;
    /* border: 2px solid transparent; */
}

.work-group { position: relative;}
.work-group::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: calc(100% - 15px);
    border-left: 3px solid limegreen;
}

#calendar-box {
    height: 440px !important;
}

#calendar-head i {
    height: 32px;
    aspect-ratio: 1;
}
#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
#calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.date-box {
    aspect-ratio: 1;
    border: .5px solid lightgray;
}




/* Work Form Styles */
#work-form {
    position: fixed;
    top: 100%;
    width: 100vw;
    left: 0;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);
}
#work-form.active {
    top: 0;
}
#close-work-form {
    background-color: rgba(150, 150, 150, 0);
    transition: all .4s linear;
    transition-delay: .6s;
}
#work-form.active #close-work-form {
    background-color: rgba(200, 200, 200, .9);
}
#work-form-content {
    height: calc(100vh - 100px);
}
#work-form-data {
    /* background: url(".//asset/hp-bg.png"); */
    background-position: center;
    background-size: cover;
    /* filter: brightness(75%) contrast(350%); */
}
#work-form select, #work-form input[type="text"] {
    border: 1px solid #ddd;
    outline: none;
}
#work-form select:focus, #work-form input[type="text"]:focus {
    border-color: #3498db;
}
#form-photos-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.photo-input {
    border: 2px solid grey !important;
}


#lanjutan-ctrl {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 0;
}
#lanjut-date-icon, #lanjut-list-icon{
    height: 45px;
    width: 45px;
    aspect-ratio: 1;
    display: block;
    z-index: 10;
}
#lanjut-date-search {
    width: 0 !important;
}
#lanjut-text-icon {width: 30px;}
#lanjut-list {
    /* border: 1.3px solid lightgray; */
    height: calc(100vh - 330px) !important;
}
.lanjut-group {
    background-color: rgba(0, 0, 0, .05);
}

#lokasi {
    border: 2px solid wheat;
}
#lokasi-datalist {
    scroll-behavior: smooth;
    max-height: 400px;
}
#lokasi-stars {
    width: 30px;
}
#lokasi-stars.active {
    background-color: #ffc107 !important;
    color: white !important;
}/* Styling Khusus Datalist */
.list-item {
    transition: background-color 0.2s ease;
}
.list-item:hover, .bg-light-grey { 
    background-color: #f1f5f9 !important; /* Warna highlight untuk keyboard/hover */
}
